

<div id="navbar">

    <div id="logo">
        Codeial
    </div>

<% if(locals.user){ %>

    <div class='left'>
        <a href="/users/profile"><%= user.name%></a>
         <a href="/users/signout"> Sign-out </a> 
    </div>

<% }else{ %>  
    <div class='left'>
        
            <a href="/users/signup">Sign-Up</a>
        
       
            <a href="/users/signin">Sign-in</a>
        
    </div>

        
    <%}%>
</div>