<header>
    I m header
</header>

<% if(locals.user){ %>

        <p><a href="/users/profile"><%= user.name%></a></p>
        <p>  <a href="/users/signout"> Sign-out </a> </p>

<% }else{ %>  
    
        <p>
            <a href="/users/signup">Sign-Up</a>
        </p>  
        <p>
            <a href="/users/signin">Sign-in</a>
        </p>
    <%}%>