<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
<section id="feed-posts">
  <h4>Posts</h4>
        <% if(locals.user) {%>
        <form action="/post/create" id="new-post-form" method="post">
                <textarea name="content" id="" cols="30" rows="3">

                </textarea>
                <input type="submit" value="Post">
        </form><%}%>
        <div id="post-list-container">
           <ul>
           
               <%- include('_post') -%>
               


           </ul>
        </div>
</section>
 

<section id="user-friends">

        <h4>Friends</h4>
        <% for(let u of user_profile) {%>
        
                <p>
                        <a href="/users/profile/<%=u.id %>"><%= u .name %></a>
                </p>

        <%}%>

</section>

</div>

<script src="/js/home_post.js"></script>